.about_me_block {
    padding-left: 2%;
    padding-right: 2%;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2b52a0;
}

body {
    margin: 0px;
    background-color: #5f73b4;

}

.h1_hider{
    display: none;
}
*{
    font-size: 18px;
}

@media (max-width: 690px) {

    .about_me_block {
        width: 96%;
    }

    .demo_3:checked + label + div {
        background-color: #06799f;

    }


    /*------------------------Меню------------------------*/

    #head_main {
        display: flex;
        width: 96%;
        text-align: center;
        align-content: center;
        align-items: center;
    }

    #head_main li {

        height: 100%;
    }

    #head_main a {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    /*---------------------------------------------*/


    #footer {
        width: 96%;
}

}