body {
    margin: 0px;
    background-color: #494343;

}

* {
    font-size: 18px;
    padding: 0;
    outline: none;
}

.radio_text{
    color: white;
}


* input[type=text] {
    margin-top: 2px;
    outline: none;
    padding: 3px 0 3px 0;
    border: none;
    width: calc(100%);
    border: solid 1px #6a6a6a;
    background-color: rgb(57, 174, 207);
    text-indent: 5px;
    border-radius: 5px 5px 5px 5px;
    border:none;
}

* input[type=button], * input[type=submit], * input[type=reset] {
    background-color: rgb(72, 203, 142);
    margin-top: 10px;
    width: 225px;

    border-radius: 10px 10px 10px 10px;
}

.login_num [type=text], .password_num [type=text], .email_num [type=text] {
    width: 65px;
    height: 20px;
    margin-right: 3px;
    padding: 0;
    text-align: center;

    text-indent: 0px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;

}

.generator {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2b52a0;
    padding: 0 2% 10px 2%;
}

.btn_copy {
    float: right;
}

.btn_copy input[type=button] {
    width: 55px;
    background-color: rgb(72, 203, 142);
}

#nav_reset, #nav_submit {
    margin-left: auto;
    margin-right: auto;
}

.nav_btn {
    margin: 0;
    display: flex;
}




@media (max-width: 690px){
    input[type="radio" i] {
        height:15px; width:15px;
    }

    * {
    }

    * input[type=button], * input[type=submit], * input[type=reset] {
        width: 195px;
    }

    .login_num [type=text], .password_num [type=text], .email_num [type=text] {
        width: 60px;
        height: auto;
    }

    .generator {
        width: 96%;
    }

    .btn_copy {
        outline: none;
    }

    .btn_copy input[type=button] {
        width: 60px;
    }

    #nav_reset, #nav_submit {
        width: 420px;
        margin-bottom: 20px;
    }





    /*------------------------Меню------------------------*/

    #head_main {
        display: flex;
        width: 96%;
        text-align: center;
        align-content: center;
        align-items: center;
    }
    #head_main li {

        height: 100%;
    }

    #head_main a {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    /*---------------------------------------------*/


    #footer {
        width: 96%;
    }




}


/*ul {*/
/* */
/*    margin: auto; !* Выравниваем по центру *!*/
/*    background: #FF4444;*/
/*    list-style: none; !*убираем маркеры списка*!*/

/*    padding-left: 0; !*убираем отступы*!*/
/*    margin-top:25px; !*делаем отступ сверху*!*/
/*}*/
/*menu {*/
/*    height: inherit;*/
/*    width: inherit;*/
/*    margin: auto; !* Выравниваем по центру *!*/
/*    text-align: center;*/

/*}*/

/*a {*/
/*    text-decoration: none; !*убираем подчеркивание текста ссылок*!*/
/*    background:#30A8E6; !*добавляем фон к пункту меню*!*/
/*    color:#fff; !*меняем цвет ссылок*!*/
/*    padding:10px; !*добавляем отступ*!*/
/*    font-family: arial; !*меняем шрифт*!*/
/*    border-radius:4px; !*добавляем скругление*!*/
/*    -moz-transition: all 0.3s 0.01s ease; !*делаем плавный переход*!*/
/*    -o-transition: all 0.3s 0.01s ease;*/
/*    -webkit-transition: all 0.3s 0.01s ease;*/
/*}*/
/*a:hover {*/
/*    background:#1C85BB;!*добавляем эффект при наведении*!*/
/*}*/
/*li {*/
/*    float:left; !*Размещаем список горизонтально для реализации меню*!*/
/*    margin-right:5px; !*Добавляем отступ у пунктов меню*!*/

/*}*/
/*.content {*/
/*    !*width: 200px; !* Ширина элемента в пикселах *!*!*/
/*    height: inherit;*/
/*    max-width: 75%;*/
/*    padding: 10px; !* Поля вокруг текста *!*/
/*    margin: auto; !* Выравниваем по центру *!*/
/*    background: #fc0; !* Цвет фона *!*/
/*}*/

/*----------------------------------------*/


/**{*/
/*    box-sizing: border-box;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*li, a, button{*/
/*    font-size: 16px;*/
/*    text-decoration: none;*/
/*}*/

/*header{*/
/*    width: 800px;*/
/*    margin: auto;*/
/*    display: flex;*/
/*    justify-content: space-between; !*Одинаковое растояние между элементами*!*/
/*    align-items: center;*/
/*    padding: 30px 10%;*/
/*    height: 50px;*/
/*    background: #106f03;*/

/*}*/

/*.logo{*/
/*    cursor: pointer; !*Что бы курсор был палец*!*/
/*    height: 50px;*/
/*}*/

/*.nav_menu{*/
/*    list-style: none;*/

/*}*/
/*.nav_menu li{*/
/*    display:  inline-block;*/
/*    padding:  20px 30px;*/

/*}*/

/*.nav_menu li a {*/
/*    transition: all .3s ease 0s; !*Анимация*!*/
/*}*/

/*.nav_menu li a:hover {*/
/*    color: #108903;*/

/*}*/

/*button{*/
/*    padding: 9px 25px;*/
/*    background-color: #106f03;*/
/*    border: none;*/
/*    border-radius: 50px;*/
/*    cursor:pointer;*/
/*    transition: all .3s ease 0s;*/
/*}*/

/*button:hover{*/
/*    background-color: #108903;*/
/*}*/

