#head_main {

    font-size: 28px;
    background: rgb(46, 95, 122);
    border-radius: 10px 10px 0 0;
}

#head_main, #head_main li {
    padding: 0;
    width: 60%;
    margin: auto;
}

#head_main li {
    display: inline-block;
    width: 25%; /* 4 пункта меню, то есть 100%/4 */
    text-align: center;
}

#head_main a {
    display: block;
    padding: 3px 0;
    color: #fff;
    text-decoration: none;

}

#head_main a:hover {
    border-radius: 10px 10px 0 0;
    background: rgb(96, 145, 172);
}