#head_main {

    font-size: 18px;
    background: rgb(11, 44, 80);
    border-radius: 10px 10px 0 0;
}

#head_main {

    padding-left: 2%;
    padding-right: 2%;
    width: 660px;
    margin: auto;
}

#head_main li {
    display: inline-block;
    width: 25%; /* 4 пункта меню, то есть 100%/4 */
    text-align: center;
}

#head_main a {
    display: block;
    padding: 3px 0;
    color: #fff;
    text-decoration: none;

}

#head_main a:hover {
    border-radius: 10px 10px 0 0;
    background: rgb(96, 145, 172);
}