#head_main {

    font-size: 18px;
    background: rgb(11, 44, 80);
    border-radius: 10px 10px 0 0;

}

#head_main {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    width: 660px;
    margin: auto;
}

#head_main li {
    display: inline-block;
    width: 25%; /* 4 пункта меню, то есть 100%/4 */
    text-align: center;
}

#head_main a {
    display: block;
    padding: 3px 0;
    color: #fff;
    text-decoration: none;
    transition: background-color .3s, filter .3s;
}

#head_main a:hover {
    filter: drop-shadow(0 0 6px #6091AC);
    border-radius: 10px 10px 0 0;
    background: rgb(96, 145, 172);
}



@media (max-width: 690px) {
    #head_main {
        display: flex;
        width: 96%;
        text-align: center;
        align-content: center;
        align-items: center;
    }

    #head_main li {

        height: 100%;
    }

    #head_main a {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height: 100%;
    }
}