* input[type=checkbox] {

    float: left;
    margin-right: 0;
    padding-right: 0;
}
* {
     font-size: 18px;
     padding: 0;
     outline: none;
 }

body {
    margin: 0px;
    background-color: #494343;

}
    .sql_atributi input[type=text] {
        font-size: 18px;
        width: 50%;
        border-radius: 10px 10px 10px 10px;
        margin-top: 3px;
        padding-left: 9px;
        background-color: rgb(72, 203, 142);

    }
.res_sql{
    flex-wrap: wrap;
}
.bg_text_sql{
    background-color: #20acd9;
    border-radius: 10px 10px 10px 10px;
padding: 5px;
}
.info_menu{
    font-size: 18px;
}


#create_table_text{
    background-color: rgb(72, 203, 142);

    padding-left: 9px;
    width: 60%;
    font-size: 18px;
    border-radius: 10px 10px 10px 10px;
}

.sql_generation_block {
    padding-left: 2%;
    padding-right: 2%;
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2b52a0;
}
* input[type=submit], * input[type=reset] {
    background-color: rgb(72, 203, 142);
    margin-top: 10px;
    width: 120px;

    border-radius: 10px 10px 10px 10px;
}

#Downloading{
    background-color: rgb(72, 203, 142);
    margin-top: 10px;
    width: 120px;

    border-radius: 10px 10px 10px 10px;
}

.check_block, .check_num_block {
    margin-top: 5px;
    display: flex;

    flex-wrap: wrap;
}

#osobistist_num {
    width: 80px;
    background-color: rgb(72, 203, 142);

    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

#generate_n_user {
    font-size: 18px;

    border-radius: 10px 10px 10px 10px;
}

#check_password_num, #check_email_num, #check_login_num {

    width: 45px;
    height: 20px;
    margin-right: 3px;
    padding: 0;
    text-align: center;
    font-size: 14px;

    text-indent: 0px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.result_from_php {
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    margin: auto;
    background-color: #20acd9;
}

.gen_sql{
    display: flex;
    justify-content:center;
}


@media (max-width: 690px){
    input[type=checkbox] {
        margin-top: 10px;
        height:15px; width:15px;

    }
    input[type="radio" i] {
        height:15px; width:15px;
    }

    #footer{
        width: 96%;
    }

    .sql_generation_block {
        width: 96%;
    }

    #osobistist_num {
        width: 85px;
    }

    #check_password_num, #check_email_num, #check_login_num {
        width: 65px;
        height: auto;
        font-size: 18px;
    }

    #create_table_text{
        padding-left: 9px;
        width: 50%;
        border-radius: 10px 10px 10px 10px;
    }

    .sql_atributi input[type=text] {
        width: 60%;
        border-radius: 10px 10px 10px 10px;
        margin-top: 3px;
        padding-left: 9px;
    }

    .gen_sql input{
        width: 400px;

    }
    #Downloading{
        background-color: rgb(72, 203, 142);
        margin-top: 10px;
        width: 400px;

        border-radius: 10px 10px 10px 10px;
    }
    /*------------------------Меню------------------------*/

    #head_main {
        display: flex;
        width: 96%;
        text-align: center;
        align-content: center;
        align-items: center;
    }

    #head_main li {

        height: 100%;
    }

    #head_main a {
        display: flex;
        justify-content: center;
        justify-items: center;
        align-items: center;
        height: 100%;
    }

    /*---------------------------------------------*/

}